* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

/*estilos del Header*/

header {
    display: flex;
    margin: 1%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;

}

header a {
    flex: 1;
    min-width: 250px;
}

header h1 {
    flex: 5;
    font-size: 3vw;
    text-align: center;
    min-width: 200px;
    font-family:'Fredoka One', cursive;
    color: rgb(2, 84, 2);
    
}

/*estilos del Nav*/

nav {
    padding: 1%;
    margin: 1%;
    background-color: #4CAF50;

}

nav ul {
    display: flex;
    flex: 1;
    justify-content: end;
}

nav ul li {
    list-style: none;
    padding: 1%;
    margin: 1%;
    text-transform: uppercase;
    min-width: 2%;
    background-color: rgb(250, 243, 243);

}

nav ul li a {
    text-decoration: none;
    color: rgb(1, 48, 1);
    font-weight: bold;
}

nav ul li:hover {
    background-color: #065e14;
    padding: 13px;
    transition-duration: 5ms;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: rgb(252, 249, 249);
}
/*estilos del main*/

main article{
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/cover.webp);
    background-size: cover;
    background-position: center;
}

main h1{
    flex: 1;
    font-size: 2vw;
    text-align: center;
    min-width: 200px;
    font-family:'Fredoka One', cursive;
    color: rgb(2, 84, 2);
}

main article form{
    flex: 1;
    margin-top: 2%;
    padding:2%;
    border:1px solid #065e14;
    text-align: left;
    width: 20%;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(35, 232, 20, 0.2);
    min-width: 200px;
}

form *{
    padding:0.5%;
    margin-bottom: 8%;
}

form label{
    font-weight: bold;
}

form button{
    width: 30%;
    color: #065e14;
    background-color: #ecf8ed;
    padding: 2%;
    font-weight: bold;
    cursor: pointer;
}

/* estilos del footer*/
footer {
    background-color: rgb(105, 102, 102);
    border: solid 1px rgb(4, 4, 4);
    text-align: end;
    margin: 1%;
    padding: 2%;
}

footer article{
    display: flex;
    flex-wrap: wrap;
}

.empresa {
    flex: 1;
    min-width: 500px;
}

.direction{
 flex: 1;
 min-width: 200px;
}

.galeria{
    flex: 1;
    min-width: 300px;
}

footer img {
    width: 50px;
    padding: 1%;
}

footer a {
    text-decoration: none;
    color: rgb(229, 225, 225);
}

footer p {
    padding: 0.3%;
    color:  rgb(229, 225, 225);
}
