* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

/*estilos del Header*/

header {
    display: flex;
    margin: 1%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
}

header a {
    flex: 1;
    min-width: 250px;
}

header h1 {
    flex: 5;
    font-size: 3vw;
    text-align: center;
    min-width: 200px;
    font-family: 'Fredoka One', cursive;
    color: rgb(2, 84, 2);
}

/*estilos del Nav*/

nav {
    padding: 1%;
    margin: 1%;
    background-color: #4CAF50;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: end;
}

nav ul li {
    list-style: none;
    padding: 1%;
    margin: 1%;
    text-transform: uppercase;
    min-width: 2%;
    background-color: rgb(250, 243, 243);
}

nav ul li a {
    text-decoration: none;
    color: rgb(1, 48, 1);
    font-weight: bold;
}

nav ul li:hover {
    background-color: #065e14;
    padding: 13px;
    transition-duration: 5ms;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: rgb(252, 249, 249);
}
/*estilos del main*/

main {
    margin: 1%;
}

main article {
    display: flex;
    padding: 0.2%;
    margin: 1%;
    flex-wrap: wrap;
}

main article:nth-child(odd) {
    flex-direction: row-reverse;
}

main article figure {
    flex: 1;
    margin-left:1% ;
    min-width: 400px;
}

main article div {
    flex: 1;
    margin-left:1%;
    min-width: 400px;
}

main p{
    text-align: justify;
}

main h3{
    text-align: center;
    margin-bottom: 3%;
    font-size: 2vw;
    color: #065e14;
}

main figure figcaption{
    text-align: end;
    font-family: cursive;
    font-size: small;
}

/* estilos del footer*/
footer {
    background-color: rgb(105, 102, 102);
    border: solid 1px rgb(4, 4, 4);
    text-align: end;
    margin: 1%;
    padding: 2%;
}

footer article {
    display: flex;
    flex-wrap: wrap;
}

.empresa {
    flex: 1;
    min-width: 500px;
}

footer p a:hover{
    color: #011404;
}

.direction {
    flex: 1;
    min-width: 200px;
}

.galeria {
    flex: 1;
    min-width: 300px;
}

footer img {
    width: 50px;
    padding: 1%;
}

footer a {
    text-decoration: none;
    color: rgb(229, 225, 225);
}

footer p {
    padding: 0.3%;
    color: rgb(229, 225, 225);
}